<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocoDiag"
        tools:targetApi="31">
        <activity
            android:name=".features.forum.ForumCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".features.forum.ForumAddActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.history.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".features.article.WebViewArticleActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".features.forum.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".features.classification.ClassificationResultActivity"
            android:exported="false" />
        <activity
            android:name=".features.classification.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".features.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".features.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".features.signin.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dicoding.capstone.cocodiag.features.classification"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>